/* Navigation */

.navigation-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: $spacing-unit;

    li {
        display: inline;
        padding-right: .5em;
        color: $brand-color;
    }
}

/* Pages */

.page-header {
    position: relative;
    color: $background-color;
    font-size: 1.5em;
    margin-bottom: $spacing-unit;

    .black-box {
        background-color: $text-color;
        padding: 3px 8px;
        border-radius: 3px;
    }

    .spacing-fixer {
    	padding-right: .25em;
    }

    .page-title {
        margin-top: 0;
        margin-left: -8px;
    }
}

/* Headlines */

h1, h2, h3, h4 {
    margin-top: 1em;
}